{% extends 'base.html.twig' %}


{% block body %}
	<div class="container about_container">

		<div class="row">

			<div class="col-6"><img class="side-image" src="{{ asset('image/Reminder.png') }}" alt="logo"></div>
			<div class="col-6">
				<h1>About Us</h1>
				<div class="about_description">
					<p>
						<i>Nuit Blanche</i>
						is an exclusive online coffee grain store that caters to the discerning tastes of coffee enthusiasts. With a name inspired by the French term for "white night," Nuit Blanche offers a captivating experience, showcasing two distinct coffee flavors: Nuit and Blanche.</p>
					<p>
						<i>Nuit</i>
						represents the bold and robust side of coffee, perfect for those who crave a powerful and intense flavor experience. Carefully selected and expertly crafted, Nuit's beans deliver a rich and invigorating taste that lingers on the palate, awakening the senses with every sip.</p>
					<p>
						<i>Blanche</i>, on the other hand, embodies the lighter and fruiter side of coffee. Delicately balanced and infused with subtle fruity notes, Blanche offers a smooth and mellow taste that soothes and refreshes. It is the ideal choice for those seeking a more nuanced and uplifting coffee experience, evoking a sense of tranquility and brightness.</p>
					<p>At
						<i>Nuit Blanche</i>, sourcing exceptional coffee beans is of paramount importance. The store carefully selects beans from renowned coffee-growing regions, ensuring the highest quality and distinctive flavor profiles. These beans undergo meticulous processes, including careful selection, precise roasting, and expert blending, to create the perfect harmony and showcase the unique characteristics of each flavor.</p>
				</div>
			</div>
		</div>
	</div>

{% endblock %}
